<Project>
  <PropertyGroup>
    <PublishProtocol>FileSystem</PublishProtocol>
    <Configuration>Release</Configuration>
    <TargetFramework>net9.0</TargetFramework>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishDir>bin\Release\net9.0\publish\win-x64\</PublishDir>
    <DeleteExistingFiles>false</DeleteExistingFiles>
  </PropertyGroup>
</Project>
